本周最受歡迎電影
%br
#myCarousel.carousel.slide
  .carousel-inner
    - @hot_movies_array.each_with_index do |array,index|
      - if index == 1
        .item.posters.active
          %ul
          - array.each do |movie|
            .poster
              = image_tag movie.poster_url
      -else
        .item.posters
          %ul
          - array.each do |movie|
            .poster
              = image_tag movie.poster_url
  %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"} ‹
  %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"} ›

.tabbable
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", :href => "#1"} 首輪電影
    %li
      %a{"data-toggle" => "tab", :href => "#2"} 二輪電影
    %li
      %a{"data-toggle" => "tab", :href => "#3"} 即將上映
    %li
      %a{"data-toggle" => "tab", :href => "#4"} 本週新片
  .tab-content
    #1.tab-pane.active
      .movie-container
        =render :partial => "_partials/movies_container", :locals => {:movies => @first_round_movies}
    #2.tab-pane
      .movie-container
        =render :partial => "_partials/movies_container", :locals => {:movies => @second_round_movies}
    #3.tab-pane
      .movie-container
        =render :partial => "_partials/movies_container", :locals => {:movies => @comming_movies}
    #4.tab-pane
      .movie-container
        =render :partial => "_partials/movies_container", :locals => {:movies => @this_week_movies}


=render :partial => "_partials/facebook_like_box"