.span12 
  = render :partial => "user_profile", :locals => {:user => @user}
  %br

  .people
    .well
      跟隨者
      .people-container
        =render :partial => "people_container", :locals => {:people => @followers}
