- movies.each do |m|
  .movie-block.span3
    = link_to movie_path(m),:title => "test" do
      =image_tag m.poster_url
      %h3= m.name
    .movie-info
      %span.view-count
        %i.icon-eye-open
        0
      %span.like-count
        %i.icon-thumbs-up
        0
