- records.each do |r|
  .movie-block.span3
    = link_to record_path(r),:title => "test" do
      =image_tag r.movie.poster_url
      %h3= r.movie.name
    .movie-info
      %span.view-count
        %i.icon-eye-open>
        0
      %span.like-count
        %i.icon-thumbs-up>
        0
